.modal.fade{'aria-hidden' => 'true', role: 'dialog', tabindex: '-1'}
  .modal-dialog
    .modal-content
      = render partial: 'become_presenter_steps/close_modal'
      .modal-body
        .unobtrusive-flash-container
        %h1.heading
          UNITED
        %div
          - if can?(:live_opt_out_and_get_money_refund, @session)
            = simple_format I18n.t("sessions.preview_live_opt_out_modal.could_be_money_refund",
                     cancellation_policy_link: %(<a target="_blank" href="#{page_path(ContentPages::REFUND_AND_CANCELLATION_POLICY.parameterize(separator: '-'))}">Cancellation Policy</a>),
                     abstract_session_link: %(<a target="_blank" href="#{@session.absolute_path}">#{@session.always_present_title}</a>),
                     customer_support: mail_to(Rails.application.credentials.global[:support_mail]),
                     paid_amount: as_currency(@payment_transaction.amount / 100.0))

            %hr

            = link_to 'Opt out and get system credit refund',
              live_opt_out_without_money_refund_session_path(@session.id),
              method: :post,
              data: {disable_with: 'Please wait…'},
              class: 'btn btn-m'

            = link_to 'Opt out and get money refund',
              live_opt_out_and_get_money_refund_session_path(@session.id),
              method: :post,
              data: {disable_with: 'Please wait…'},
              class: 'btn btn-m'

            %a{'data-dismiss' => 'modal', href: '', class: 'btn btn-m'}
              No, I changed my mind

          - elsif can?(:live_opt_out_and_get_full_system_credit_refund, @session)
            = simple_format I18n.t("sessions.preview_live_opt_out_modal.could_be_full_sys_credit_refund",
                     cancellation_policy_link: %(<a target="_blank" href="#{page_path(ContentPages::REFUND_AND_CANCELLATION_POLICY.parameterize(separator: '-'))}">Cancellation Policy</a>),
                     abstract_session_link: %(<a target="_blank" href="#{@session.absolute_path}">#{@session.always_present_title}</a>),
                     customer_support: mail_to(Rails.application.credentials.global[:support_mail]),
                     paid_amount: as_currency(@system_credit_transaction.amount))

            %hr

            = link_to 'Opt out and get system credit refund',
              live_opt_out_without_money_refund_session_path(@session.id),
              method: :post,
              data: {disable_with: 'Please wait…'},
              class: 'btn btn-m'

            %a{'data-dismiss' => 'modal', href: '', class: 'btn btn-m'}
              No, I changed my mind

          - elsif can?(:live_opt_out_without_refund, @session)
            = simple_format I18n.t("sessions.preview_live_opt_out_modal.no_refund",
                     cancellation_policy_link: %(<a target="_blank" href="#{page_path(ContentPages::REFUND_AND_CANCELLATION_POLICY.parameterize(separator: '-'))}">Cancellation Policy</a>),
                     abstract_session_link: %(<a target="_blank" href="#{@session.absolute_path}">#{@session.always_present_title}</a>),
                     customer_support: mail_to(Rails.application.credentials.global[:support_mail]))

            %hr

            = link_to 'Opt out',
              live_opt_out_without_money_refund_session_path(@session.id),
              method: :post,
              data: {disable_with: 'Please wait…'},
              class: 'btn btn-m'

            %a{'data-dismiss' => 'modal', href: '', class: 'btn btn-m'}
              No, I changed my mind

          - elsif can?(:live_opt_out_with_partial_sys_credit_refund, @session)
            - loose_amount = @transaction.amount / 100.0 * @refund_coefficient.coefficient

            = simple_format I18n.t("sessions.preview_live_opt_out_modal.partial_refund",
                          cancellation_policy_link: %(<a target="_blank" href="#{page_path(ContentPages::REFUND_AND_CANCELLATION_POLICY.parameterize(separator: '-'))}">Cancellation Policy</a>),
                          abstract_session_link: %(<a target="_blank" href="#{@session.absolute_path}">#{@session.always_present_title}</a>),
                          customer_support: mail_to(Rails.application.credentials.global[:support_mail]),
                          loose_amount: as_currency(loose_amount),
                          paid_amount: as_currency(@transaction.amount / 100.0))

            %hr

            = link_to 'Opt out',
              live_opt_out_without_money_refund_session_path(@session.id),
              method: :post,
              data: {disable_with: 'Please wait…'},
              class: 'btn btn-m'

            %a{'data-dismiss' => 'modal', href: '', class: 'btn btn-m'}
              No, I changed my mind
          - else
            - raise 'permisssion denied'
