%p Dear #{@user.public_display_name},

%p You placed a request to cancel your Business Plan.
%br/
- if @plan_package.present?
  %p Business Plan: #{@plan_package.name}
%p Payment: #{@plan.formatted_price}/#{@plan.formatted_interval}
%br/
%p
  Your current paid subscription is active till #{@subscription.current_period_end},
  so you may use #{Rails.application.credentials.global[:service_name]} functionality with no limitation.

-#You may cancel your deactivation request before the #{@subscription.current_period_end} by clicking "Cancel deactivation request" in the Business Plan menu (линк на dashboard/Organization/Business Plan tab)
%p
  If you have any questions, feel free to
  = link_to 'contact us', support_home_url

