<div class="bubble {{authorClasses}}">
    <a href="/users/{{user_id}}/home" target="_blank">
        <div class="authorAvatar" style="background-image: url({{authorAvatarUrl}})"></div>
    </a>
    <div class="messageBubble">
        <div class="authorName">
            {{authorName}}
        </div>
        <div class="Message">{{{messageBody}}}</div>
        <div class="Message_timestamp">{{timestamp}}</div>
    </div>
</div>
