<div class="tile" data-id="{{id}}" data-logo="{{logo}}" data-name="{{full_name}}" data-email="{{email}}">
    <div class="User-listImage" style='background-image: url("{{logo}}")'>
        <a class="addFromSearch">
            <i class="VideoClientIcon-iPlus" style="background: rgba(194,194,194,0.5)"></i>
        </a>
    </div>
    <span class="name text-center full-width display-block">{{full_name}}</span>
</div>
