.slide
  .sliderImage
    .sliderImageBody{style: "background-image: url('#{image_url('coming_soon/slider/sl1.jpg')}')"}

  %p{'data-delay': 150, 'data-position': 110.0}
    %span.lighter Share your flavor
  %p{'data-delay': 150, 'data-position': 205.0}
    %span
      with the world, Live.
.slide
  .sliderImage
    .sliderImageBody{style: "background-image: url('#{image_url('coming_soon/slider/sl2.jpg')}')"}
  %p{'data-delay': 150,  'data-position': 110.0}
    %span.lighter Share your funny bone
  %p{'data-delay': 150, 'data-position': 205.0}
    %span
      with the world, Live.
.slide
  .sliderImage
    .sliderImageBody{style: "background-image: url('#{image_url('coming_soon/slider/sl3.jpg')}')"}
  %p{'data-delay': 150,  'data-position': 110.0}
    %span.lighter Share your riffs
  %p{'data-delay': 150, 'data-position': 205.0}
    %span
      with the world, Live.
.slide
  .sliderImage
    .sliderImageBody{style: "background-image: url('#{image_url('coming_soon/slider/sl4.jpg')}')"}
  %p{'data-delay': 150,  'data-position': 110.0}
    %span.lighter Share your inner warrior
  %p{'data-delay': 150, 'data-position': 205.0}
    %span
      with the world, Live.
.slide
  .sliderImage
    .sliderImageBody{style: "background-image: url('#{image_url('coming_soon/slider/sl5.jpg')}')"}
  %p{'data-delay': 150,  'data-position': 110.0}
    %span.lighter Share your canned heat
  %p{'data-delay': 150, 'data-position': 205.0}
    %span
      with the world, Live.
.slide
  .sliderImage
    .sliderImageBody{style: "background-image: url('#{image_url('coming_soon/slider/sl6.jpg')}')"}
  %p{'data-delay': 150,  'data-position': 110.0}
    %span.lighter Share your chemistry
  %p{'data-delay': 150, 'data-position': 205.0}
    %span
      with the world, Live.
.slide
  .sliderImage
    .sliderImageBody{style: "background-image: url('#{image_url('coming_soon/slider/sl7.jpg')}')"}
  %p{'data-delay': 150,  'data-position': 110.0}
    %span.lighter Share your palette
  %p{'data-delay': 150, 'data-position': 205.0}
    %span
      with the world, Live.
