.col-xs-6.col-sm-4.col-md-4.productTileContainer{id: "product_tile_#{product.id}"}
  .productTile
    .productTile_image_wrapp
      = link_to dashboard_list_product_path(list, product), remote: true, class: 'productTile_remove', method: :delete, data: {confirm: 'Are you sure?'}, title: 'Remove product', style: 'visibility: visible;' do
        %i.VideoClientIcon-iPlus.rotateIcon
      %img.productTile_image{src: product.image_url, alt: ''}
      - if product.affiliate_url.present?
        .afiliateMarker{title: 'Congrats! This cool product is ready to make money'} $
    .productTile_name= product.title
    .productTile_footer.clearfix
      .fs-12.text-ellipsis.text-color-LightGrey.padding-bottom-5= product.description
      = link_to 'Edit Product', edit_dashboard_list_product_path(list, product), remote: true, class: 'productTile_edit text-color-Blue fs-12 pull-left', style: 'visibility: visible;'
      .productTile_cost.btn.btn-s.pull-right= product.price.format
    .productTile_footer.clearfix.full-width{rel:'tipsy', title: product.short_url(product.organization&.user)}
      %input.productTile_url.text-ellipsis.pull-left{type: :text, value: product.short_url(product.organization&.user), readonly: true}
      %a.productTile_copy.btn.btn-s.pull-right.btn-grey-solid{href: '#', onclick: 'copyToClipboard(this); return false'} Copy
