<div class="i__embed_h-l">
    <a class="avatar" href="javascript: void(0);" style="background-image:url('{{user_avatar_url}}')"></a>
    {{user_full_name}}
</div>
<div class="i__embed_h-r ch_icon_dr__wrapp">
    <a href="#" class="channelIcon" style="background-image: url('{{channel_logo}}')"></a>
    <div class="ch_icon_dr__main">
        <div class="ch_icon_dr__head">
            <div class="ch_icon_dr__logo" style="background-image: url('{{channel_cover}}')"></div>
        </div>
        <div class="ch_icon_dr__body">
            {{channel_title}}
        </div>
        <a href="{{channel_url}}" class="ch_icon_dr__link" target="_blank">Go to Channel</a>
    </div>
</div>
