<a class="modal-cover" href="#"></a>
<div class="modal">
    <a class="close_modal" href="#">
        <i class="embed_fontiPlus"></i>
    </a>
    <div class="modal-b">
        <div class="modal-b__t">
            Share
        </div>
        <div class="modal-b__c">
            <div class="sharetools-menu">
                <a class="fb-share" href="https://www.facebook.com/sharer.php?u={{absolute_path}}" target="_blank">
                    <i class="embed_fontfacebook"></i>
                </a>
                <a class="twitter-share" href="https://twitter.com/intent/tweet?url={{absolute_path}}&text={{title}}" target="_blank">
                    <i class="embed_fonttwitter"></i>
                </a>
                <a class="linkedin-share" href="https://www.linkedin.com/shareArticle?mini=true&url={{absolute_path}}&title={{title}}&summary={{description}}&source=" target="_blank">
                    <i class="embed_fontlinkedin"></i>
                </a>
                <a class="pinterest-share" href="http://pinterest.com/pin/create/button/?url={{absolute_path}}&description={{title}}&media={{share_image_url}}" target="_blank">
                    <i class="embed_fontpinterest"></i>
                </a>
                <a class="tumblr-share" href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={{absolute_path}}" target="_blank">
                    <i class="embed_fonttumblr"></i>
                </a>
                <a class="reddit-share" href="https://ssl.reddit.com/submit?url={{absolute_path}}&title={{title}}" target="_blank">
                    <i class="embed_fontreddit"></i>
                </a>
                <!--<a class="mail-share" href="#" target="_blank">-->
                    <!--<i class="embed_fontmail"></i>-->
                <!--</a>-->
            </div>
            <div class="sharetools-link">
                <div class="link_Share_block">
                    <label>
                        Short Permalink
                        <input readonly="readonly" type="text" value="{{share_url}}">
                    </label>
                    <a class="copy_to_clipboard btn btn-s btn-borderred-grey" href="#">
                        <span>copy</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
