<p class="greeting">
  <%= I18n.t('mailer.user_greetings', user: @user.first_name) %>
</p>

<p>Refund receipt transaction Information</p>

<pre>
Merchant:           <%= merchant_name %>
<% if @payment_transaction.credit_card_last_4.present? %>
Credit card number: <%= '*'*12 + @payment_transaction.credit_card_last_4.to_s %>
<% end %>
Amount:             <%= number_to_currency(@log_transaction.amount) %>
Refund Date:        <%= @payment_transaction.checked_at.in_time_zone(@user.timezone).strftime('%d %b %I:%M %p %Z') %>
Payment method:     <%= @payment_transaction.provider %>
Order ID:           <%= @payment_transaction.pid %>
</pre>
