<div class='InviteViewersAndCoHosts-user'>
    <a class="avatarImg-SD" href="#" data-email="{{email}}" style="background-image: url('{{avatar_url}}')"></a>
    <a href="{{#if slug}}/{{slug}}{{else}}mailto:{{email}}{{/if}}" target="_blank" class='user-info-tile'>
        <span class='avatarImg-SD' style="background-image: url('{{avatar_url}}')"></span>
        <div class='user-info-tile_name text-ellipsis text-color-Darkgrey fs-14'>{{display_name}}</div>
    </a>
</div>
