<div class="modal-dialog">
    <div class="modal-content">
        <a href="#" data-dismiss="modal" class="closeModal">
          <i class="VideoClientIcon-iPlus"></i>
        </a>
        <div class="modal-body">
            <div class="unobtrusive-flash-container"></div>
            <section>
                <div class="tab-content">
                    <div class="fs-14 padding-bottom-5 text-color-Darkgrey UsersWrappTitle">
                        Share with:
                    </div>
                    <div class="UsersWrapp participants">
                        {{! Invited users here }}
                    </div>

                    <div class="tab-pane active" id="section-Viewers-Guests" data-type="participant">
                        <div class="margin-bottom-20 row add_or_filter_by_email">
                            <div class="col-md-12 InviteByEmail-wrapp">
                                <input class="full-width InviteByEmail" id="InviteByEmail" data-state="livestream"
                                       type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$"
                                       placeholder="Search in contacts"/>
                                <button class="clear_field">x</button>
                            </div>
                        </div>

                        <div class="contactList">
                            <div class="contactList-h">
                                <div class="fs-14 text-color-Darkgrey">Presenters:</div>
                            </div>

                            <div class="contactList-b full-width clearfix text-color-LightGrey">
                                <div class="contactList-b-h">
                                    <div class="row">
                                        <div class="col-xs-8">
                                            <label class="checkbox selectAll choice margin-left-10">
                                                <input type="checkbox" checked="checked" class="some_selected"/>
                                                <span class="fs-12 text-color-Darkgrey">Select All</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div id="new_contacts_list_area"></div>
                                <hr class="full-width margin-top-0 margin-bottom-10" style="display: none;"/>
                                <div id="contacts_list_area">
                                    {{#each contacts}}
                                        <div data-email="{{email}}" data-id="{{id}}"
                                             class="contactList-item clearfix">
                                            <div class="row">
                                                <div class="col-md-12 text-ellipsis">
                                                    <div class="avatarImg-SD"
                                                         style="background-image: url('{{avatar_url}}')"></div>
                                                    {{display_name}} ({{email}})
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class=" clearfix section-Viewers-Guests_submit bottomPushContainer">
                <a href="#" class="btn btn-m done pull-right" data-dismiss="modal">Done</a>
            </div>
        </div>
    </div>
</div>
