<form class="form_V2" autocomplete="off" id="channel_form" accept-charset="UTF-8" data-remote="true" method="post" style="visibility: visible;">
    <input name="utf8" type="hidden" value="✓">

    <h2 class="text-center fs-18 text-color-Blue margin-bottom-10 margin-top-20">{{ page_title }}</h2>

    <h4 class="text-center fs-14 margin-bottom-5">{{ page_description }}</h4>
    <div class="sectionBlock_wrapp margin-top-20">
        <div class="channel_avatar_block avatar_block">
            <div class="avatar" id="channel_logo" style="background-image:url('{{#if logo}}{{logo.image_src}}{{else if cover}}{{cover.image_src}}{{/if}}')"></div>
            <a data-toggle="modal" href="#channel_avatar_modal"><div class="LoadingCover profile_next_cover" style="display:none"></div>
                <i class="VideoClientIcon-pencilF"></i>
            </a>
        </div>
        <section class="sectionBlock">

            <div data-BAP-preview="true" data-BAP-preview-title="Channel Name"
                 title="{{i18n "wizard.step2.name_tooltip" }}"
                 class="input-block required state-clear {{#if title}} event-focus valid {{/if}}">
                <label for="channel_title">Channel Name</label>
                <input value="{{title}}" type="text" name="channel[title]" id="channel_title">

                <div class="errorContainerWrapp"></div>
            </div>

            <div class="input-block margin-botom-10 {{#if description}} event-focus valid {{else}} state-clear {{/if}}">
                <label for="channel_description">Description</label>
                <textarea data-autoresize="" rows="1" name="channel[description]" id="channel_description" max-length="2000">{{description}}</textarea>
                <div class="counter_block">0/2000</div>
                <div class="infoContainerWrapp">{{i18n "forms.info.min_description_length"}}</div>
                <div class="errorContainerWrapp"></div>
            </div>

            <div class="input-block margin-botom-10 {{#if description}} event-focus valid {{else}} state-clear {{/if}}">
                <label for="channel_description">Tagline</label>
                <textarea data-autoresize="" rows="1" name="channel[tagline]" id="channel_tagline" max-length="160">{{tagline}}</textarea>
                <div class="counter_block">0/160</div>
                <div class="infoContainerWrapp">{{i18n "forms.info.min_tagline_length"}}</div>
                <div class="errorContainerWrapp"></div>
            </div>

            <div class="input-block required state-clear margin-bottom-20 margin-top-15 {{#if tag_list}} event-focus valid {{/if}}">
                <label for="" class="fixed_top">Tags</label>
                <div class="tag_list_wrapp">
                    <input value="{{tag_list}}" class="tag" type="text" name="channel[tag_list]" id="channel_tag_list">
                </div>

                <div class="counter_block" max-length="20">0/20</div>
                <div class="infoContainerWrapp">{{i18n "forms.info.min_tags_count"}}</div>
                <div class="errorContainerWrapp"></div>
            </div>
            <div class="row select-tag-block required" aria-required="true">
                <div class="col-md-5 text-color-Darkgrey padding-top-5">
                    <label for="user_birthdate ">Category</label>
                </div>
                <div class="col-md-7 text-right">
                    <select name="channel[category_id]" id="channel_category_id" class="styled-select styled-select_withCss padding-left-20 pull-right text-right select-rightAlign">
                        <option value="" disabled {{#unless category_id}} selected {{/unless}}>Select Category</option>
                        {{ channelCategoriesOptions category_id }}
                    </select>
                </div>
                <div class="errorContainerWrapp"></div>
            </div>
        </section>

        {{!-- Skip channel location and presentation type --- refs #2856
                <div class="input-block state-clear {{#if channel_location}} event-focus valid {{/if}}">
                    <label for="channel_channel_location">Channel Location</label>
                    <input value="{{channel_location}}" type="text" name="channel[channel_location]" id="channel_channel_location">
                    <div class="errorContainerWrapp"></div>
                </div>

                <div class="select-block multiple-select {{#if channel_type_id}} event-focus valid {{/if}}">
                    <label for="channel_channel_type_id">Presentation Style</label>
                    <select name="channel[channel_type_id]" id="channel_channel_type_id">
                        <option value="" disabled {{#unless channel_type_id}} selected {{/unless}}>Select Style</option>
                      {{ channelTypesOptions channel_type_id }}
                    </select>

                    <div class="errorContainerWrapp"></div>
                </div>
        --}}

        <section class="sectionBlock">
            <div class="ProfileImageAndCoverImage-wrapp">
                <label class="labelTitle text-color-Darkgrey">
                    Primary Image
                    <span class="text-color-Blue">*</span>
                </label>
                <div class="CoverImage semitransparent_LoadingCover">
                    <a class="CoverImage-demo channel" data-hover-text="{{#if cover.image_src}}Change{{else}}Browse{{/if}} Image" data-target="#chanelCoverModal"
                       data-toggle="modal" {{#if cover.image_src}} style="background-image: url('{{cover.image_src}}')" {{/if}}>
                    </a>
                    <div class="spinnerSlider hidden">
                        <div class="bounceS1"></div>
                        <div class="bounceS2"></div>
                        <div class="bounceS3"></div>
                    </div>
                </div>

            </div>
            <div class="mb50"></div>
            <div class="GalleryImage-wrapp">
                <label class="labelTitle margin-bottom-0 text-color-Darkgrey">
                    Gallery
                </label>

                <div class="Gallery-list clearfix">
                    <div class="tile add_block">
                        <div class="text-right">
                            <a href="#" style="visibility: hidden;">x</a>
                        </div>
                        <div class="Gallery-listImage">
                            <a class="addGalleryImage" data-target="#channelGalleryModal" data-toggle="modal">
                                <i class="VideoClientIcon-iPlus"></i>
                            </a>
                        </div>
                        <span style="visibility: hidden;">Add image...</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="sectionBlock">
            <div class="UserImage-wrapp">
                <h3 class="labelTitle margin-bottom-10">
                    Presenters
                </h3>

                <div class="User-list clearfix" id="networkPresenters">
                    <div class="tile add">
                        <div class="text-center"></div>
                        <div class="User-listImage">
                            <a class="ReadyToInviteAdditional" data-target="#ReadyToInviteAdditional" data-toggle="modal">
                                <i class="VideoClientIcon-iPlus" style="background: rgba(194,194,194,0.5)"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div>
            <div class="clearfix">
                {{#ifCond status '!=' 'approved'}}
                    <label class="choice checkbox pull-right">
                        <input id="list_upon_approval" value="1" data-id="list_upon_approval" type="checkbox" checked>
                        <span>
                            {{ i18n "wizard.step3.list_upon_approval" }}
                        </span>
                        <div class="VideoClientIcon-q5 inlile-block" rel="tipsy" title="{{i18n "wizard.step3.list_tooltip" }}"></div>
                    </label>
                {{/ifCond}}
            </div>
            <div class="text-right">
                <button name="button" type="button" class="submitButton btn btn-l">
                    {{#if id}}Save{{else}}Submit For Approval{{/if}}
                    <span class="spinnerSlider spinnerSmall spinnerColor_white spinerStatick">
                <div class="bounceS1"></div>
                <div class="bounceS2"></div>
                <div class="bounceS3"></div>
              </span>
                </button>
            </div>
        </div>
    </div>
</form>

