<p class="greeting">
  <%= I18n.t('mailer.user_greetings', user: @user.first_name) %>
</p>

<p>
  Thank you for purchasing a subscription to channel <a class="notificationLinkText" href="<%= @channel.absolute_path(UTM.build_params({utm_content: @user.utm_content_value})) %>"><%= @channel.always_present_title %>"</a>.
</p>

<% if @payment_transaction.present? %>
<pre>
-- Transaction Information --
Merchant:           <%= merchant_name %>
Amount:             <%= number_to_currency(@payment_transaction.amount / 100.0) %>
<% if @payment_transaction.tax_cents > 0 %>
Tax:                <%= number_to_currency(@payment_transaction.tax_cents / 100.0) %>
Total:              <%= number_to_currency((@payment_transaction.amount + @payment_transaction.tax_cents) / 100.0) %>
<% end %>
Transaction Date:   <%= Time.zone.now.in_time_zone(@user.timezone).strftime('%d %b %I:%M %p %Z') %>
<!--Tax Exempt:         <%#= @payment_transaction.tax_exempt ? 'yes' : 'no' %>-->
Payment method:     <%= @payment_transaction.provider %>
Payment ID:         <%= @payment_transaction.pid %>
<%# if @payment_transaction.credit_card? %>
<!--Authorization Code: <%#= @payment_transaction.processor_authorization_code %>-->
<%# end %>
Status:             <%= @payment_transaction.status.humanize.titleize %>

--Payment Information--
<% if @payment_transaction.credit_card? %>
Card Type:          <%= @payment_transaction.card_type %>
Credit Card Number: <%= '*'*12 + @payment_transaction.credit_card_last_4.to_s %>
<%# elsif @payment_transaction.paypal? %>
<!--PayPal Email: <%#= @payment_transaction.paypal_payer_email %>-->
<% else %>
  <% Rails.logger.info @payment_transaction.inspect %>
<% end %>
</pre>
<% end %>
