<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="en">
<head>
    <title>1</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body id="paragrafMobileSize" style="font-family: sans-serif;margin:0;padding: 0;background: #F2F2F2">
<style type="text/css">
  @media all and (max-width: 500px) {
    #paragrafMobileSize p{font-size: 30px!important;}
  }
</style>
<table role="presentation"  cellpadding="0" cellspacing="0" width="680" align="center" background="#ffffff"
       style="background-color: #ffffff;">
    <tbody>
    <tr>
        <td>
            <table role="presentation"  cellpadding="0" cellspacing="0" align="center">
                <tbody>
                <tr>
                    <td>
                        <img src="<%= image_url("services/#{Rails.application.credentials.global[:project_name].to_s.downcase}/#{logo_size}.png") %>" alt="up" border="0"
                             width="680"
                             height="160" style="display: block;">
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
      <td align="center">
        <table role="presentation"  border="0" cellpadding="0" cellspacing="0" style="padding: 25px 0 25px 0;">
          <tr><td></td></tr>
        </table>
      </td>
    </tr>
    <%= yield %>
    <tr>
      <td align="center">
        <table role="presentation"  border="0" cellpadding="0" cellspacing="0" style="padding: 25px 0 25px 0;">
          <tr><td></td></tr>
        </table>
      </td>
    </tr>
    <tr class="footer">
        <td align="center">
            <table role="presentation"  border="0" cellpadding="0" align="center" cellspacing="0" width="600"
                   style="background-color: #f2f2f2;border: 1px solid rgba(9,95,115,0.3);border-radius: 20px;">
                <tr align="center">
                    <td align="center">
                        <table role="presentation"  border="0" cellpadding="0" cellspacing="0" style="padding: 20px 0 20px 0">
                            <tr><td></td></tr>
                        </table>
                    </td>
                </tr>
<!--                <tr>-->
<!--                    <td>-->
<!--                        <table role="presentation"  cellpadding="0" cellspacing="0" align="center">-->
<!--                            <tbody>-->
<!--                            <tr>-->
<!--                                <td>-->
<!--                                    <img src="https://unite.live/email/socialMedia/twitter.png" alt="" border="0"-->
<!--                                         width="20"-->
<!--                                         height="17" style="cursor: pointer; display: block;">-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <table role="presentation"  border="0" cellpadding="0" cellspacing="0" width="30">-->
<!--                                        <tr><td></td></tr>-->
<!--                                    </table>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <img src="https://unite.live/email/socialMedia/facebook.png" alt="" border="0"-->
<!--                                         width="12"-->
<!--                                         height="21" style="cursor: pointer;display: block;">-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <table role="presentation"  border="0" cellpadding="0" cellspacing="0" width="30">-->
<!--                                        <tr><td></td></tr>-->
<!--                                    </table>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <img src="https://unite.live/email/socialMedia/google.png" alt="" border="0"-->
<!--                                         width="20"-->
<!--                                         height="21" style="cursor: pointer;display: block;">-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <table role="presentation"  border="0" cellpadding="0" cellspacing="0" width="30">-->
<!--                                        <tr><td></td></tr>-->
<!--                                    </table>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <img src="https://unite.live/email/socialMedia/linkedin-in.png" alt="" border="0"-->
<!--                                         width="18"-->
<!--                                         height="18" style="cursor: pointer;display: block;">-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </td>-->
<!--                </tr>-->
                <tr>
                    <td align="center">
                        <table role="presentation"  border="0" cellpadding="0" cellspacing="0" style="padding: 20px 0 20px 0">
                            <tr><td></td></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table role="presentation"  border="0" cellpadding="0" cellspacing="0" align="center" width="285"
                               style="text-align: center;">
                            <tr>
                                <td>
                                    <p style="
                                    margin:0;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 14px!important;
                                    color: #000000;
                                    line-height: 14px!important;">

                                      <% if Rails.application.credentials.global[:pages][:help] %>
                                        <%= link_to ContentPages::HELP_CENTER, "https://#{Rails.application.credentials.global[:host]}/" + "pages/#{ContentPages::HELP_CENTER.parameterize(separator: '-')}", {:style=>'color:#095f73;'}%> |
                                      <% end %>

                                      <%if Rails.application.credentials.global[:pages][:terms_and_privacy]%>
                                        <%= link_to ContentPages::PRIVACY_POLICY, "https://#{Rails.application.credentials.global[:host]}/" + "pages/#{ContentPages::PRIVACY_POLICY.parameterize(separator: '-')}", {:style=>'color:#095f73;'}%>
                                      <% end %>

                                      <% display_unsubscribe_link = @user.present? && (@user.last_sign_in_at.present? || !Rails.env.production?) && !@unsubscribe_url.nil? %>
                                      <% if display_unsubscribe_link %>
                                        |
                                        <%= link_to 'unsubscribe now', @unsubscribe_url, style:'color: #095f73' %>
                                      <% end %>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <table role="presentation"  border="0" cellpadding="0" cellspacing="0" style="padding: 10px 0 10px 0">
                            <tr><td></td></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table role="presentation"  border="0" cellpadding="0" align="center" cellspacing="0" width="480"
                               style="text-align: center;">
                            <tr>
                                <td>
                                    <p style="
                    margin:0;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px!important;
                    color: #999999;
                    line-height: 14px!important;">
                                        © <%= Time.now.year %> <%= Rails.application.credentials.global[:service_name].upcase %>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <table role="presentation"  border="0" cellpadding="0" cellspacing="0" style="padding: 20px 0 20px 0">
                            <tr><td></td></tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    <tr>
        <td align="center">
            <table role="presentation"  border="0" cellpadding="0" cellspacing="0" style="padding: 20px 0 20px 0">
                <tr><td></td></tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
