<div class="productListsItem-name">
    <a rel="tipsy" title="Remove list" class="remove_list productListsItem-removeBTN pull-right">&times;</a>
    <a class="toggle_list display-block">{{name}}</a>
</div>

<div class="productForm">
    <form id="list_form_{{cid}}" class="form_V2 padding-top-0" style="visibility: visible;">
        <div class="{{#unless name}} state-clear {{/unless}} input-block required">
            <label>List Name</label>
            <input name="list[name]" value="{{name}}" type="text">

            <div class="errorContainerWrapp"></div>
        </div>
        <div class="input-block clearfix">
            <label>List Description</label>
            <textarea name="list[description]" max-length="500" rows="5" placeholder="You have 500 characters for your description" data-autoresize="">{{description}}</textarea>
            <div class="counter_block">0/500</div>

            <div class="errorContainerWrapp"></div>
        </div>
        <!--<div class="{{#unless url}} state-clear {{/unless}} input-block required">-->
            <!--<label>List URL</label>-->
            <!--<input name="list[url]" value="{{url}}" type="text">-->

            <!--<div class="errorContainerWrapp"></div>-->
        <!--</div>-->
        <div class="clearfix">
            <div class="pull-right">
                <a class="save_list btn btn-m text-uppercase">Save List</a>
            </div>
        </div>
    </form>

    <div class="urlAddInput">
        <label>My Products</label>
        <form class="url_form" style="visibility:visible">
            <input name="product[url]" placeholder="Product URL" type="text">
            <div class="errorContainerWrapp"></div>
            <div class="margin-bottom-30 text-right">
                <button class="fetch_product btn btn-m text-uppercase inlile-block vertical-midle margin-right-10">fetch</button>
                <button class="manual_add btn btn-m text-uppercase inlile-block vertical-midle">manual add</button>
            </div>
        </form>
    </div>

    <div class="productTile-wrapp row mb20">
        <p class="loading">Loading...</p>
        <p class="no_products hidden">No products yet</p>
        <div class="products_region clearfix"></div>
    </div>
</div>
